{% import './macro/type.jinja' as macros %}

{% if compilation_mode == "cs" %}
    {%- if primaryKey is defined and primaryKey %}
    [Key]
    {%- endif -%}
    {%- if required %}
    [Required]
    {%- endif -%}
    {%- if maxLength is defined %}
    [MaxLength({{ maxLength }})]
    {%- endif -%}
    {%- if min is defined and max is defined %}
    [Range({{ min }}, {{ max }})]
    {%- endif %}
    public {{ type }} {{ name }} { get; set; }{% if defaultValue is defined %} = {{ defaultValue }};
    {%- else -%}
    {%- endif -%}
{% elif compilation_mode == "graphql" %}
    {{ name }}: {{ macros.convert_type(type, False, 'graphql') }}
{% elif compilation_mode == "graphql" %}
    {{ name }}: {{ macros.convert_type(type, False, 'graphql') }}
{% endif %}

