{%- if primary_key is defined and primary_key %}
[Key]
{%- endif -%}
{%- if required %}
[Required]
{%- endif -%}
{%- if max_length is defined %}
[MaxLength({{ max_length }})]
{%- endif -%}
{%- if min is defined and max is defined %}
[Range({{ min }}, {{ max }})]
{%- endif %}
public {{ type }} {{ name }} { get; set; }{% if default_value is defined %} = {{ default_value }};{%- else -%}{%- endif -%}
