{% if compilation_mode == "cs" %}
    public class {{ name }}
    {
        {% for child in children -%}
            {{ child.cs | indent(4, true) }}
        {% endfor %}
    }
{% elif compilation_mode == "graphql" %}
        {% for child in children -%}
            {{ child.graphql | indent(4, true) }}
        {% endfor %}
{% elif compilation_mode == "prisma" %}
        {% for child in children -%}
            {{ child.prisma | indent(4, true) }}
        {% endfor %}
{% endif %}
