{% if output_type == "html" %}
<div>
    <label for="{{ name|lower }}">{{ name }}</label>
    <input type="text" id="{{ name|lower }}" name="{{ name|lower }}" placeholder="{{ placeholder }}" {% if required == "true" %}required{% endif %} />
</div>
{% elif output_type == "css" %}
#{{ name|lower }} {
    display: block;
    margin-bottom: 10px;
}

label[for="{{ name|lower }}"] {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
}

input[name="{{ name|lower }}"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}
{% endif %}
